# Dependencies
node_modules/
jspm_packages/

# Environment & secrete
.env
.env.local
.env.*.local
*.pem
*.key

# Runtime / cache
.npm
.eslintcache
.cache/
.parcel-cache/
.node_repl_history

# Build / output
dist/
build/
coverage/
*.tsbuildinfo

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
desktop.ini

